<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Randomizer</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <div class="formulario">
            <form action="{{ url_for('homepage') }}" method="post">
                <label for="nhab">Escolha o número de habilidades:</label><br>
                <input type="number" id="nhab" name="nhab"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="results">

            {%for i in resultado %}
            <div class="ability-card">
                {{ i }}
            </div>
            {% endfor %}
        </div>

    </div>
</body>

</html>